.layout-header {
    padding: 15px;
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    background-color: #ffffff;
}

.layout-content {
    margin: 24px 16px 0;
}

.div-content {
    padding: 24px;
    height: calc(100vh - 155px);
    overflow-y: auto;
}