.user-details {
    display: block;
  }
  
  @media (max-width: 768px) {
    .user-details {
      display: none;
    }
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }