@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#root,
.ant-layout {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgba(211, 211, 211, 0.7);
  font-family: 'Nunito', sans-serif !important;
}

.mr-12 {
  margin-right: 12px;
}